@import url(http://fonts.googleapis.com/css?family=Roboto);
body{
    overflow: auto;
    font-family: 'Roboto', sans-serif;
}
.fondo{
    background: #C8C8C8;
    height: 1100px;
}

a {

    color: rgb(120,120,120);
}
a:hover{
    color: rgb(178,178,178);
}
.wrapper{
    margin-top:-20px;
    width:80%;
    background: white;
    margin-left: 7.5%;
    height:1024px;
    box-shadow: 10px 10px 5px #888888;

}
.seleccionar_colegas {
    margin-left: -20px;

}
.cuadro{
    display:fixed;
    width: 30%;
    margin: 0% 1.66666666667%;
    float:left;
    height: 350px;
    overflow: auto;
    border: 1px solid rgb(176,176,176);

    box-shadow: 5px 5px 2px #888888;

}

.cuadro ul li {
    font-size: 0.875em;

}

#competencia-menu{
    display: inline-block;

}

#empleados-menu{

    padding: 45px 0 45px 25px;
    display: inline-block;
    width:30%;
}

.competencias_lista li{
    margin: 20px 20px -20px -40px;
    padding:5px 5px 5px 15px;
    list-style:none;
}
#competencia-descripcion {
    padding: 20px;
}
.competencias_cuadro_titulo{
    margin-top: 1px;
    text-align: center;
    padding:5px;
    font-size: 1.1em;
}

#acceso{

}

.evaluar_colega{
    overflow: auto;
    display: fixed;
    height:250px;
    width:250px;
    border: 1px solid rgb(176,176,176);
    box-shadow: 2px 4px 2px #888888;
}

.evaluar_colega_btn{
}


.barra-menu{
    margin-left:2%;
}

.float-left{
    margin-top:-10px;
    float:left;
    margin-right:5.5%;
}
.espaciador{
    margin-top:5.5%;
    margin-left: 13.5%;

}

.evaluacion_redonda{
    margin-left:5.5%;
    padding:10% 7.5%;
    text-align:center;
    width:90%;
    margin-bottom:20px;
    border: 1px solid rgb(176,176,176);

    box-shadow: 5px 5px 2px #888888;
}
.superiores-seleccionados {
    padding:10px;
}
.superiores-seleccionados ul,
.subordinados-seleccionados ul,
.colegas_izq-seleccionados ul,
.colegas_der-seleccionados ul{
    list-style:none;
    margin-left: -25px;
}
.superiores-seleccionados{

}
.subordinados-seleccionados{
}
.colegas_izq-seleccionados{
    float:left;
    display:fixed;
}
.colegas_der-seleccionados{
    float:right;
    display:fixed;
}

.usuario_actual{
    margin:25px 0;
}

#resultados {
    margin-left: 1.6666666%;
    margin-top: 380px;
}

.row.reporte{
    width: 80%;
    margin-left: 7.5%;
}
.row.reporte h1{
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #707070;
}
.row.reporte h2{
    color: #707070;
    padding: 15px;
}

.wrapper.resultados{
    height: 100%;
    overflow: auto;
    display: fixed;
    height:960px
}

.companero{
    padding-top: 5px;
}
#seleccionar_competencias{
    margin-top: 75px;
    margin-right: 75px;
    float:right;
}
.autoevaluacion{
    margin-left: 5%;
    padding: 5% 15% 15% 15%;
}