body{
    overflow: auto;
}
.wrapper{
    width:80%; 

}
.seleccionar_colegas {

}
.espaciado_arriba{
    margin-top: 50px; 
}
.cuadro{
    display:fixed;
    width: 30%;
    margin: 0% 1.66666666667%;
    float:left;
    height: 350px;
    overflow: auto;
    border: 1px solid rgb(176,176,176);
}

.cuadro ul li {
    font-size: 0.875em;

}

#competencia-menu{
    display: inline-block;
    
}

#empleados-menu{

    padding: 45px 0 45px 25px;
    display: inline-block;
    width:30%;
}

.competencias_lista li{
    margin: 20px 20px -20px -40px;
    padding:5px 5px 5px 15px;
    list-style:none;
}
#competencia-descripcion {
    padding: 20px;
}
.competencias_cuadro_titulo{
    margin-top: 1px;
    text-align: center;
    padding:5px;
    font-size: 1.1em;
}

#acceso{
    padding:25% 34.55%;
    text-align: center;
    position: fixed;
    background:white;

}

.evaluar_colega{
    overflow: auto;
    display: fixed;
    height:250px;
    width:300px;
    border: 1px solid rgb(176,176,176)  ;
}

.evaluar_colega_btn{
}

.wrapper{

    margin-left: 7.5%;
}

.float-left{
    margin-top:-20px;
    float:left;
    margin-right:5.5%;
}
.espaciador{
    margin-left: 5.5%;
}

.evaluacion_redonda{
    padding:7.5%;
    text-align:center;
    width:90%;
}

.superiores-seleccionados ul,
.subordinados-seleccionados ul,
.colegas_izq-seleccionados ul,
.colegas_der-seleccionados ul{
    list-style:none;
}
.superiores-seleccionados{

}
.subordinados-seleccionados{
}
.colegas_izq-seleccionados{
    float:left;
    display:fixed;
}
.colegas_der-seleccionados{
    float:right;
    display:fixed;
}

.usuario_actual{
    margin-bottom:10px;
}

#resultados {
    margin: 1.66666666667%;
}