<div id="acceso">
    <form id="form">
    	<label>E-mail:</label>
        <input type="email" id="correo"  ng-model="formData.correo" required>
        <span class ="help-block" ng-show="errorEmail">{{errorEmail}}</span>
        

        <br>
        <label>RPE:</label>
        <input type="password" id="password" ng-model="formData.password">
        <span class="help-block" ng-show="ErrorRpe">{{errorRpe}}</span>
        
        <br><br><br>
        <button type="submit" ng-submit="submit()">Iniciar Sesion</button>

        <label> Eres nuevo usuario? </label>
        <button type="submit" href="registrarUsuario.html" ng-click="crearUsuario()">Crea un nuevo usuario</button>
       
    </form>
	{{ formData }}
</div>
