<div id="wrapper">
<h1>Registro para nuevo usuario.</h1>
    <form id="form">
        <input type="text" placeholder="nombre" id="nombre" name="nombre" ng-model="formData.nombre"><br>
        <input type="text" placeholder="puesto" id="puesto" name="puesto" ng-model="formData.puesto"><br>
        <input type="text" placeholder="departamento" id="departamento" name="departamento" ng-model="formData.departamento"> <br>
        <input type="email" placeholder="correo" id="correo" name="correo" ng-model="formData.correo"> <br>
        <input type="text" placeholder="zona" id="zona" name="zona" ng-model="formData.zona"> <br>
        <input type="password" placeholder="rpe" id="password" name="password" ng-model="formData.password">
        <button type="submit" ng-click="nuevoRegistro()">Entrar</button>
    </form>
  {{ formData }}
</div>
