<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/styles.css">
        <script src="/static/js/jquery-2.1.3.js"></script>
        <script src="/static/js/bootstrap.js"></script>
        <script src="/static/js/angular.js"></script> 
        <script src="/static/js/ui-utils.js"></script>
        <script src="/static/js/others.js"></script>
        <script src="/static/js/app.js"></script>
    </head>

    <body ng-app="Sistema-cfe">
        <div class="wrapper">
            <div class="row">
                
            </div>            
        </div>
    </body>
</html>
