<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/styles.css">
        <script src="/static/js/jquery-2.1.3.js"></script>
        <script src="/static/js/bootstrap.js"></script>
        <script src="/static/js/angular.js"></script> 
        <script src="/static/js/ui-utils.js"></script>
        <script src="/static/js/others.js"></script>
        <script src="/static/js/app.js"></script>
    </head>

<body ng-app="Sistema-cfe">
<div class="wrapper">
    <div ng-controller="competenciasCtrl">
        <div class="row">
            <div id="competencia-menu" class="col-md-4">
                <h1>Competencias</h1>
                <button ng-click="si()">Si</button>
                <button ng-click="no()">No</button>
            </div>
            <div class="col-md-4" id="competencia-descripcion"> 
                <p>{{ competencia_actual.descripcion }}</p>
            </div>
            <div id="empleados-menu" class="col-md-4">
                <p style="display:inline">Evaluando a: </p>
                <select id="empleados" ng-model="colega_seleccionado" ng-options="colega.nombre for colega in colegas" ng-change="selectedValue(colega_seleccionado)">
                    <option value="" disabled>Seleccione a alguien</option>
                </select>
            </div>
        </div>
            <div class="cuadro" id="izq">
                <h2 class="competencias_cuadro_titulo">Competencias Existentes: {{ competencias_existentes.length}}</h2>
                <ul class="competencias_lista" id="izq-ls">
                    <li data-ng-model="usuario" data-ng-repeat="competencia in competencias_existentes "><a href="#" ng-click="remove($index)">{{ competencia.nombre }}</a></li>

                </ul>
            </div>
            <div class="cuadro" >
                <h2 class="competencias_cuadro_titulo">Competencias Neutras: {{ competencias.length }}</h2>
                <ul class="competencias_lista">
                    <li data-ng-model="usuario" data-ng-repeat="competencia in competencias "><a href="#" ng-click="remove($index)">{{ competencia.nombre }}</a></li>
                </ul>
            </div>
            <div class="cuadro" id="der">
                <h2 class="competencias_cuadro_titulo">Competencias Inexistentes:  {{ competencias_inexistentes.length }}</h2>
                <ul class="competencias_lista" id="der-ls">
                    <li data-ng-model="usuario" data-ng-repeat="competencia in competencias_inexistentes "><a href="#" ng-click="remove($index)">{{ competencia.nombre }}</a></li>

                </ul>

            </div>
        </div>
        <div id="resultados">
            <button>Enviar resultados</button>
            </div>
        </div>
      <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    </body>
</html>
